<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>home</title>


</head>
<body>
	<div class="topnav">
		<br><br><br>
		<h1 class="middle">DIY and how?</h1>
		<p class="middle">do it yourself but with us!</p>
		<br><br><br><br><br>
		<a class="active" href="/home">Home</a>
		<a href="/share">share with us</a>
		<a href="/upload">upload original DIY</a>
		<a href="/comments">comments</a>
		<a href="/signin">switch account</a>
	</div>

	<br><br><br>

	<p> in this website you have tutorials for many thing you can do by yourself when you are bored:) </p>
	<div>
		<h3>house decoration:</h3>
		<ul>
			<li> <a href="/https://pin.it/4ORc5b3">decorated nirror</a></li>
			<li> <a href="https://pin.it/3XcRBtd">cloud decor</a></li>
			<li><a href="https://pin.it/Ii4B2wK">funny candles</a></li>
		</ul>
	</div>
	<div>
		<h3>others:</h3>
		<ul>
			<li><a href="https://pin.it/22nY5XA">flower sticker</a></li>
			<li><a href="https://pin.it/608cx2a">arm kniting blanket</a></li>
		</ul>
	</div>

</body>
</html>